.card {
  padding: 30px;
  width: fit-content;
  position: relative;

  &--spot {
    position: absolute;
    padding: 5px 7px;
    margin: 5px 8px;
    background: #fff;
    border-radius: 2px;
    font-weight: bold;
  }

  &--rating,
  &--reviewCount {
    margin: 0 5px;
  }

  &--text {
    line-height: 0.8rem;

    h3 {
      font-weight: 400;
    }
    span {
      font-weight: 700;
    }
  }
}
